footer {
  bottom: 0;
  width: 100%;
  height: 70px;
}

.carousel-image {
  height: 400px;
  object-fit: cover;
  border-radius: 1.2%;
}

.resource-name-description {
  display: flex;
  justify-content: center;
}

.resource-name-description {
  margin-top: 20px;
  margin-bottom: 20px;
}

.resource-card-text {
  font-family: "Urbanist", sans-serif;
}

.forgot-password {
  padding-top: 15px;
}

.forgot-password:hover {
  color: lightgreen;
  cursor: pointer;
}

.card-body {
  padding: 0px;
}

.card-img {
  max-height: 11rem;
  object-fit: cover;
}

.offering-card {
  border: 1px solid green;
  border-radius: 1.2%;
  margin-bottom: 20px;
}

/* ---navbar--- */
.navbar {
  width: 100%;
  top: 0;
  /* border-bottom: 1px solid lightgreen; */
  padding-right: 15px;
  padding-left: 15px;
  font-family: "Urbanist", sans-serif;
  background-color: white;
}

.nav-btn {
  font-family: "Urbanist", sans-serif;
  font-size: 20px;
}

.active,
.nav-btn:hover {
  cursor: pointer;
  /* color: lightgreen; */
  text-decoration: underline;
}

.navbar-logo:hover {
  cursor: pointer;
}

.navbar-logo {
  width: 140px;
}

.nav-profile-icon {
  font-size: x-large;
  margin-left: 5px;
  color: black;
}

/* ---logReg--- */
.logRegBtnModalCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logRegBtnModalCont button {
  width: 100%;
}

.logReggobackbtn {
  text-decoration: none;
}

.logReggobackbtn:hover {
  cursor: pointer;
  color: lightgreen;
}

.avatarImages {
  font-size: 4rem;
  object-fit: cover;
  transition: 0.5;
}

.avatarImages:hover {
  font-size: 5rem;
  cursor: pointer;
}

.avatarImageSelected {
  font-size: 5rem;
}

.modal-header {
  border: solid 1px lightgreen;
  background-color: lightgray;
}

.modal-content {
  border: solid 2px lightgreen;
}