/* _____________________________________________________________RESOURCE / OFFERING INFO */
.resource-name-description {
  display: flex;
  justify-content: center;
}

.resource-title {
  text-decoration: underline wavy lime;
  font-family: "Urbanist", sans-serif;
}

.resource-name-description {
  margin-top: 20px;
  margin-bottom: 10px;
}

.carousel {
  width: 400px;
}

.carousel-image {
  width: 35vw;
  object-fit: cover;
  height: 40vh;
  border: 4px solid lightgreen;
}

.carousel-item {
  margin-bottom: 10px;
}

.resource-card-text {
  font-family: "Urbanist", sans-serif;
  font-size: medium;
  text-align: center;
}

.favorite-button-container {
  display: flex;
  justify-content: flex-end;
}

.resource-image {
  border: 1px solid lime;
  border-radius: 1%;
  width: 400px;
  margin: 00px 20px 20px 20px;
}

.rez-info {
  margin: 0 60px 0 60px;
  width: 100%;
}

.details-column {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* _____________________________________________________________CARD */

.card-body {
  padding: 0px;
  height: 45% !important;
  display: flex;
  justify-content: center;
}

.card-img {
  object-fit: contain;
}

.resource-card {
  align-items: center;
  border: 1px solid black;
  justify-content: center;
  display: flex;
  font-family: "Urbanist", sans-serif;
  background-color: #eeeeee;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
  width: 95%;
  align-items: end;
  padding: 4px;
  max-width: 250px;
}

.card-header {
  background-color: #eeeeee;
  padding: 2px;
  margin-bottom: 6%;
  border: none;
  min-height: 20%;
  display: flex;
  justify-content: between;
  /* flex-direction: column; */
}

.card-title-div {
  display: flex;
  align-items: center;
}

.resource-card-title-name {
  color: black;
  font-size: medium;
  font-weight: bold !important;
}

.resource-card-title {
  font-family: "Urbanist", sans-serif;
}

.card-icon {
  color: darkgreen;
  font-size: large;
  /* margin-right: 10px;
  margin-bottom: 5px; */
}

/* _____________________________________________________________NAVBAR / FOOTER*/
.navbar {
  width: 100%;
  top: 0;
  padding: 10px;
  font-family: "Urbanist", sans-serif;
  background-color: white;
  color: black;
  margin-top: 20px;
}

.nav-btn {
  font-family: "Urbanist", sans-serif;
  font-size: 20px;
  color: black !important;
}

.navbar-toggler {
  color: white;
}

.navbar-toggler-icon {
  color: lightgreen;
  font-size: xx-large;
}


.active {
  text-decoration: underline wavy lightgreen !important;
}

.nav-btn:hover {
  color: lightgreen;
  cursor: pointer;
}

.navbar-logo:hover {
  cursor: pointer;
}

.navbar-logo {
  width: 140px;
}

.nav-profile-icon {
  font-size: xx-large;
  margin-left: 5px;
  color: black;
}

/* _____________________________________________________________-LOGIN/REGISTER */
.logRegBtnModalCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logRegBtnModalCont button {
  width: 100%;
}

.logReggobackbtn:hover {
  cursor: pointer;
  color: lightgreen;
}

.avatarImages {
  font-size: 4rem;
  object-fit: cover;
  transition: 0.5;
}

.avatarImages:hover {
  font-size: 5rem;
  cursor: pointer;
}

.avatarImageSelected {
  font-size: 5rem;
}

.modal-header {
  border: solid 1px lightgreen;
  background-color: lightgray;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  border: solid 2px lightgreen;
}

/* _____________________________________________________________USER PROFILE PAGE */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 100vh;
}

.profile-greeting {
  font-size: 2.5rem;
  font-family: "Urbanist", sans-serif;
  margin-bottom: 40px;
}

.user-profile-container {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  gap: 2rem;
}

.user-profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 10%;
  margin-right: 25px;
}

.favorites-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.favorites-col {
  font-family: "Urbanist", sans-serif;
  height: 70vh;
  overflow: scroll;
  direction: rtl;
}

.favorites-col li {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.favorites-col::-webkit-scrollbar-track {
  background-color: transparent;
}

.your-favorite-resources {
  font-size: 1.5rem;
  margin-top: 20px;
  padding: 0px;
  text-decoration: underline wavy lime;
}

.favorites-list {
  text-align: center;
}

.user-profile-avatar {
  font-size: 8rem;
  margin-bottom: 10px;
}

.favorite-line-item {
  margin-top: 15px;
}

.favorite-a-tag:hover {
  color: lightgreen;
  font-family: Arial, Helvetica, sans-serif;
}

/* ---------------------------------------------------------------------SEARCH PAGE */

.dropdown-menu {
  background-color: palegreen;
  border: 2px solid lime;
}

.map-and-cities {
  width: 0%;
  flex-grow: 1;
}

.scroll-search-results {
  overflow-y: auto;
  overflow: scroll;
  height: 69.5vh;
  width: 18vw;
  direction: rtl;
  /* padding: 3px; */
  display: flex;
  justify-content: left;
  margin-left: 2%;
}

.scroll-search-results li {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.scroll-search-results::-webkit-scrollbar-track {
  background-color: transparent;
}

.map-info {
  flex-grow: 1;
  width: 98%;
  margin-bottom: 20px;
}

.scroll-search-results ul {
  padding: 0;
  float: left;
  margin: 0px 20px 0px 0px;
}

.search-results-full {
  display: flex;
  width: 90%;
  margin-top: 30px;
}

.grand-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
}

/* _____________________________________________________________DONATE */

.donate-page {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.donate-text {
  width: 70%;
}

.donate-text p {
  font-family: "Space Mono", Sans-serif;
  line-height: 2;
}

/* _____________________________________________________________Selection-*/
.search-container {
  word-wrap: wrap;
  margin: 10px;
  width: 86.5%;
  padding: 15px;
  border: 2px solid lime;
  background-color: lightgray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.selection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.tell-us {
  font-family: "Urbanist", sans-serif;
  font-size: 25px;
}

/* Filter by day */
.dropdown-toggle {
  border: solid 1px lightgreen !important;
  font-family: "Urbanist", sans-serif !important;
  background-color: rgb(172, 172, 172) !important;
  color: black;
  box-shadow: none !important;
  border-radius: 0%;
}


.form-check {
  display: flex;
  margin: 10px;

}

.form-check-input {
  background-color: white;
  border: solid black 1px;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.form-check-label {
  font-family: "Urbanist", sans-serif;
  font-size: 15px;
}

input[type=checkbox]:checked {
  background-color: lightgreen !important;
  color: #ffffff !important;
}

input[type='checkbox']:after {
  box-shadow: none !important;
}

.form-check-input {
  cursor: pointer;
}

.question {
  display: flex;
  justify-content: center;
  font-size: large;
  font-weight: bold;
  font-family: "Urbanist", sans-serif;
}

/* _____________________________________________________________Simple-Map Component */
.map-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 3px solid lightgreen;
  margin-top: 10px;
}

.map-city-buttons {
  display: flex;
  overflow-y: auto;
  overflow-x: scroll;
  height: 100px;
  width: 100%;
  gap: .5rem;
}

.map-city-buttons::-webkit-scrollbar-track {
  background-color: transparent;
}

.map-button {
  background-color: white;
  font-family: "Urbanist", sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 20vw;
  height: 85%;
  font-size: 11px;
  border: 2px solid lightgreen;
  font-size: 12px;
}

.map-button:hover {
  background-color: lightgreen;
}

/* _____________________________________________________________CONTACT PAGE */


.contact-page {
  margin: 80px;
  display: flex;
  justify-content: center;
}

.contact-submit {
  display: flex;
  justify-content: center;
  width: 100%
}

/* _____________________________________________________________OFFERING*/

.details {
  display: flex;
  justify-content: center;
  width: 80%;
}

.offering-details-page {
  display: flex;
  justify-content: center;
  padding: 0;
}

/* _____________________________________________________________SIZE < 1500px */
@media screen and (max-width: 1500px) {
  .resource-card-title-name {
    font-size: medium;
  }

  .card-img {
    height: 11vh !important;
    width: 95%;
  }
}

/* _____________________________________________________________SIZE < 990px */
@media screen and (max-width: 990px) {

  .deets {
    flex-direction: column;
  }

  .scroll-search-results {
    /* overflow-y: hidden;
    overflow-x: scroll; */
    display: flex;
    flex-direction: row;
    height: 30vh;
    width: 100%;
    justify-content: center;
    direction: unset;
  }

  .scroll-search-results ul {
    display: flex;
    gap: 3rem;
    margin: 10px;
    /* overflow-x: scroll;
    overflow-y: hidden; */
  }

  .offerings-column {
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    height: 27vh;
    width: 100%;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .nav-btn {
    font-size: 20px;
  }

  .my-navbar-items {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .resource-card {
    width: 23vw;
    height: 100%;
    margin-left: 1px;
  }

  .card-img {
    width: 75%;
    object-fit: cover;
  }

  .card-icon {
    font-size: medium;
  }

  .resource-card-title-name {
    font-size: 12px;
  }

  .map-and-cities {
    width: 100%;
  }

  .search-container {
    width: 96vw;
    margin-bottom: 20px;
  }


  .search-results-full {
    flex-direction: column;
    margin: 0;
    width: 96vw;
  }

  .grand-container {
    margin: 0;
  }

  .map-city-buttons {
    display: flex;
    overflow-y: auto;
    overflow-x: scroll;
    display: flex;
    height: 8vh;
    width: 95vw;
    gap: .5rem;
    margin-top: 10px;
  }

  .tell-us {
    font-size: 20px;
  }

  .contact-page {
    margin: 15px;
    padding-top: 80px;
  }

  .offering-card {
    align-items: center;
    justify-content: center;
    align-items: center !important;
    width: 80%;
    margin-bottom: 25px;
  }

  .offering-details-page {
    margin: 0;
  }

  .fa-heart {
    font-size: medium;
  }
}

/* ______________________________________________________________SIZE < 600px */

@media screen and (max-width: 600px) {
  .tell-us {
    font-size: 18px;
  }

  .favorites-col {
    width: 40vw;
  }

  .details {
    width: 100% !important;
  }

  .resource-card {
    width: 29vw !important;

  }

  .resource-card-title-name {
    font-size: 9px !important;
  }

  .card-icon {
    font-size: small;
    margin: 0;
  }

  .card-img {
    width: 100%;
    height: 8vh !important;
    object-fit: cover;
  }

  .scroll-search-results {
    height: 47vmin;
  }

  .form-check-label {
    font-size: 11px;
  }

  .fa-heart {
    font-size: small;
  }
}

/* ___________________________________________________________________GLOBAL */

label {
  font-family: "Urbanist", sans-serif;
  color: black !important;
}

.maras-button {
  border: 1px solid black;
  background-color: white;
  font-family: "Urbanist", sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
  padding: 3px;
  font-size: small;
}

.maras-button:hover {
  background-color: lightgreen;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
}

.submit {
  border: 1px solid black;
  font-family: "Urbanist", sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
  background-color: lightgreen !important;
  font-size: 20px;
  width: 100%;
  height: 30px;
}

/* change the name of this one  */
.forgot-password {
  padding-top: 15px;
  text-decoration: none !important;
  color: black;
}

.forgot-password:hover {
  color: lightgreen;
  cursor: pointer;
}

.radio {
  border-radius: 3% !important;
  border: solid 1px lightgray;
}

.radio-label {
  color: gray
}

.back-to-results {
  background-color: white;
  font-family: "Urbanist", sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 30vw;
  height: 5vh;
  font-size: 15px;
  border: 2px solid lightgreen;
  padding: 5px;
}

.fave-button {
  border: none;
  background-color: transparent;
}

.colored-heart {
  color: red;
}

.fa-heart {
  font-size: large;
}

.alert {
  text-align: center;
}

.card {
  border: none;
  align-items: center;
  width: 100%;
}

/* _____________________________________________________________MAP */

.marker {
  position: relative;
  display: inline-block;
}

.marker-icon i {
  color: red;
  font-size: 28px;
}

.marker-icon span {
  position: absolute;
  top: -26px;
  left: -15px;
  background-color: #fff;
  padding: 4px;
  border-radius: 4px;
  white-space: nowrap;
}

.favorite-button-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}