footer {
  bottom: 0;
  width: 100%;
  height: 70px;
}

.carousel-image {
  height: 400px;
  object-fit: cover;
  border-radius: 1%;
  border: 3px solid lightgreen;
}

.resource-name-description {
  display: flex;
  justify-content: center;
}

.resource-name-description {
  margin-top: 20px;
  margin-bottom: 20px;
}

.col-9 {
  padding: 0;
}

.resource-card-text {
  font-family: "Urbanist", sans-serif;
}

.forgot-password {
  padding-top: 15px;
  text-decoration: none !important;
  color: black;
}

.forgot-password:hover {
  color: lightgreen;
  cursor: pointer;
}

.card-body {
  padding: 0px;
}

.card-img {
  max-height: 11rem;
  object-fit: cover;
}

.offering-card {
  border: 1px solid green;
  border-radius: 1.2%;
  margin-bottom: 20px;
}

/* ---navbar--- */
.navbar {
  width: 100%;
  top: 0;
  /* border-bottom: 1px solid lightgreen; */
  padding-right: 15px;
  padding-left: 15px;
  font-family: "Urbanist", sans-serif;
  background-color: white;
}

.nav-btn {
  font-family: "Urbanist", sans-serif;
  font-size: 20px;
}

.active {
  text-decoration: underline wavy lime;
}

.nav-btn:hover {
  color: lightgreen;
  cursor: pointer;
}

.navbar-logo:hover {
  cursor: pointer;
}

.navbar-logo {
  width: 140px;
}

.nav-profile-icon {
  font-size: x-large;
  margin-left: 5px;
  color: black;
}

/* ---logReg--- */
.logRegBtnModalCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logRegBtnModalCont button {
  width: 100%;
}

.logReggobackbtn {
  text-decoration: none;
}

.logReggobackbtn:hover {
  cursor: pointer;
  color: lightgreen;
}

.avatarImages {
  font-size: 4rem;
  object-fit: cover;
  transition: 0.5;
}

.avatarImages:hover {
  font-size: 5rem;
  cursor: pointer;
}

.avatarImageSelected {
  font-size: 5rem;
}

.modal-header {
  border: solid 1px lightgreen;
  background-color: lightgray;
}

.modal-content {
  border: solid 2px lightgreen;
}

.grand-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ----Search Page----- */
.scroll-search-results {
  overflow-y: auto;
  overflow: scroll;
}

/* ----User Profile Page---- */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 100vh;
}

.profile-greeting {
  font-size: 2.5rem;
  font-family: "Urbanist", sans-serif;
  margin-bottom: 40px;
}

.user-profile-container {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  gap: 2rem;
}

.user-profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 10%;
  margin-right: 25px;
}

.favorites-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Urbanist", sans-serif;
  height: 70vh;
  /* overflow-y: auto; */
  overflow: scroll;
}

.your-favorite-resources {
  font-size: 1.5rem;
  text-decoration: underline;
  margin-top: 20px;
  /* margin-bottom: 5px; */
  padding: 0px;
}

.favorites-list {
  text-align: center;
}

.user-profile-avatar {
  font-size: 8rem;
}

.favorite-line-item {
  margin-top: 15px;
}

.favorite-a-tag:hover {
  color: lightgreen;
  font-family: Arial, Helvetica, sans-serif;
}

.delete-favorite {
  text-decoration: none;
  color: grey;
  margin-left: 20px;
  font-size: large;
}

.delete-favorite:hover {
  color: red;
  cursor: pointer;
  font-weight: bold;
}

.favorite-a-tag {
  color: black;
  text-decoration: none;
}

.user-profile-fav-icon {
  margin-right: 10px;
  color: blueviolet;
}

/* ----Resource Card Component---- */
.resource-card {
  max-width: 18rem;
  align-items: center;
  border: 1px solid black;
  justify-content: center;
  display: flex;
  font-family: "Urbanist", sans-serif;
  background-color: #eeeeee;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-header {
  background-color: #eeeeee;
}

.card-title-div {
  display: flex;
  align-items: center;
}

.resource-card-title-name {
  color: darkgreen;
  font-size: large;
  font-weight: bold;
}

.resource-card-title {
  font-family: "Urbanist", sans-serif;
}

.card-icon {
  color: darkgreen;
  font-size: x-large;
}

.maras-button {
  border: 1px solid black;
  background-color: white;
  font-family: "Urbanist", sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
}

.map-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 3px solid lightgreen;
}

.maras-button:hover {
  background-color: lightgreen;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
}

.favorite-button-container {
  margin: 10px;
  display: flex;
  justify-content: flex-end;
}

/* ----Selection Component----*/
.selection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.tell-us {
  font-family: "Urbanist", sans-serif;
  font-size: 25px;
  /* text-decoration: wavy underline lime; */
}

.form-check-label {
  font-family: "Urbanist", sans-serif;
  font-size: 15px;
}

.search-container {
  margin: 30px;
  padding: 20px 35px 20px 50px;
  border: 2px solid lime;
  width: 80%;
  background-color: lightgray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-check-input {
  cursor: pointer;
  /* accent-color: green; */
}

.question {
  display: flex;
  justify-content: center;
  font-size: large;
  font-weight: bold;
  font-family: "Urbanist", sans-serif;
  /* margin-top: 30px; */
  /* color: #455a64; */
}



/* ----Simple-Map Component---- */
.map-city-buttons {
  display: flex;
  justify-content: space-between;

}

.map-button {
  background-color: white;
  font-family: "Urbanist", sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.map-button:hover {
  background-color: lightgreen;
}

input[type=checkbox]:checked {
  background-color: lightgreen !important;
  color: #ffffff !important;
}

input[type='checkbox']:after {
  box-shadow: none !important;
}