
/* _____________________________________________________________RESOURCE / OFFERING INFO */
.resource-name-description {
  display: flex;
  justify-content: center;
}

.resource-name-description {
  margin-top: 20px;
  margin-bottom: 20px;
}

.carousel-image {
  height: 400px;
  object-fit: cover;
  border-radius: 1%;
  border: 3px solid lightgreen;
}

.resource-card-text {
  font-family: "Urbanist", sans-serif;
  font-size: 20px;
}

.favorite-button-container {
  margin: 10px;
  display: flex;
  justify-content: flex-end;
}

/* _____________________________________________________________CARD */

.card-body {
  padding: 0px;
  height: 100%;
}

.card-img {
  width: 100%;
  max-height: 16vh;
  object-fit: cover;
}

.resource-card {
  align-items: center;
  border: 1px solid black;
  justify-content: center;
  display: flex;
  font-family: "Urbanist", sans-serif;
  background-color: #eeeeee;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
  max-width: 20rem;
}

.card-header {
  background-color: #eeeeee;
}

.card-title-div {
  display: flex;
  align-items: center;
}

.resource-card-title-name {
  color: black;
  font-size: large;
  font-weight: bold;
}

.resource-card-title {
  font-family: "Urbanist", sans-serif;
}

.card-icon {
  color: darkgreen;
  font-size: x-large;
}

/* _____________________________________________________________NAVBAR / FOOTER*/
.navbar {
  width: 100%;
  top: 0;
  padding-right: 15px;
  padding-left: 15px;
  font-family: "Urbanist", sans-serif;
  background-color: white;
}

.nav-btn {
  font-family: "Urbanist", sans-serif;
  font-size: 20px;
  color: black !important;
}

.active {
  text-decoration: underline wavy lime !important;
}

.nav-btn:hover {
  color: lightgreen;
  cursor: pointer;
}

.navbar-logo:hover {
  cursor: pointer;
}

.navbar-logo {
  width: 140px;
}

.nav-profile-icon {
  font-size: xx-large;
  margin-left: 5px;
  color: black;
}

/* _____________________________________________________________-LOGIN/REGISTER */
.logRegBtnModalCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logRegBtnModalCont button {
  width: 100%;
}

.logReggobackbtn:hover {
  cursor: pointer;
  color: lightgreen;
}

.avatarImages {
  font-size: 4rem;
  object-fit: cover;
  transition: 0.5;
}

.avatarImages:hover {
  font-size: 5rem;
  cursor: pointer;
}

.avatarImageSelected {
  font-size: 5rem;
}

.modal-header {
  border: solid 1px lightgreen;
  background-color: lightgray;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  border: solid 2px lightgreen;
}

/* _____________________________________________________________USER PROFILE PAGE */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 100vh;
}

.profile-greeting {
  font-size: 2.5rem;
  font-family: "Urbanist", sans-serif;
  margin-bottom: 40px;
}

.user-profile-container {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  gap: 2rem;
}

.user-profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 10%;
  margin-right: 25px;
}

.favorites-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Urbanist", sans-serif;
  height: 70vh;
  overflow: scroll;
}

.your-favorite-resources {
  font-size: 1.5rem;
  text-decoration: underline;
  margin-top: 20px;
  /* margin-bottom: 5px; */
  padding: 0px;
}

.favorites-list {
  text-align: center;
}

.user-profile-avatar {
  font-size: 8rem;
}

.favorite-line-item {
  margin-top: 15px;
}

.favorite-a-tag:hover {
  color: lightgreen;
  font-family: Arial, Helvetica, sans-serif;
}

/* ---------------------------------------------------------------------SEARCH PAGE */

.dropdown-menu {
  background-color: lightgrey;
  border: 2px solid lime;
}

.map-and-cities {
  width: 70%;
  display: flex;
  flex-grow: 1;
}

.scroll-search-results {
  overflow-y: auto;
  overflow: scroll;
  height: 68vh;
  direction: rtl;
  padding: 5px;
}

.scroll-search-results::-webkit-scrollbar-track {
  background-color: transparent;
}

.map-info {
  flex-grow: 1;
  width: 98%;
  margin-left: 10px;
}

.scroll-search-results ul {
  padding: 0;
  float: left;
  margin: 0px 20px 0px 0px;
}

.search-results-full {
  display: flex;
  width: 80%;
  margin-top: 30px;
}

.grand-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
}

/* _____________________________________________________________Selection-*/
.search-container {
  word-wrap: wrap;
  margin: 10px;
  width: 80%;
  padding: 15px;
  border: 2px solid lime;
  background-color: lightgray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.selection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.tell-us {
  font-family: "Urbanist", sans-serif;
  font-size: 25px;
}

.dropdown-toggle {
  border: solid 1px lime !important;
  font-family: "Urbanist", sans-serif !important;
  background-color: rgb(172, 172, 172) !important;
  color: black !important;
  box-shadow: none !important;
  border-radius: 0%;
}

.form-check {
  display: flex;
  margin: 10px;

}

.form-check-input {
  background-color: white;
  border: solid black 1px;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.form-check-label {
  font-family: "Urbanist", sans-serif;
  font-size: 15px;
}

input[type=checkbox]:checked {
  background-color: lightgreen !important;
  color: #ffffff !important;
}

input[type='checkbox']:after {
  box-shadow: none !important;
}

.form-check-input {
  cursor: pointer;
}

.question {
  display: flex;
  justify-content: center;
  font-size: large;
  font-weight: bold;
  font-family: "Urbanist", sans-serif;
}

/* _____________________________________________________________Simple-Map Component */
.map-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 3px solid lightgreen;
  margin-top: 10px;
}

.map-city-buttons {
  display: flex;
  overflow-y: auto;
  overflow-x: scroll;
  height: 100px;
  width: 100%;
  gap: .5rem;
}

.map-city-buttons::-webkit-scrollbar-track {
  background-color: transparent;
}

.map-button {
  background-color: white;
  font-family: "Urbanist", sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 20vw;
  height: 90%;
  font-size: 11px;
  border: 2px solid lightgreen;
}

.map-button:hover {
  background-color: lightgreen;
}

/* _____________________________________________________________CONTACT PAGE */


.contact-page {
  margin: 80px;
  display: flex;
  justify-content: center;
}

.contact-submit {
  display: flex;
  justify-content: center;
  width: 100%
}
/* _____________________________________________________________OFFERING*/

.offering-card{
  max-width: 70%;
  margin-top: 60px;
  border: none;
}

 .offering-details-page {
  display: flex;
  justify-content: center;
  margin: 80px;

 }
/* __________________________________________________SIZE < 990px */
@media screen and (max-width: 990px) {

  .scroll-search-results {
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    height: 32vh;
    width: 100%;
    padding-bottom: 5px;
  }

  .map-and-cities {
    width: 100%;
  }
  .search-container {
    width: 96vw;
    }

  .scroll-search-results ul {
    display: flex;
    gap: 1rem;
  }

  .search-results-full {
    flex-direction: column;
    margin: 0;
    width: 96vw;
  }

  .grand-container {
    margin: 0;
  }

  .resource-card {
    height: 30vh;
    width: 40vh;
  }

  .map-city-buttons {
    display: flex;
    overflow-y: auto;
    overflow-x: scroll;
    display: flex;
    height: 10vh;
    width: 96vw;
    gap: .5rem;
    padding-bottom: 5px;
  }

  .tell-us {
    font-size: 20px;
  }

  .my-navbar-items {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .contact-page {
    margin: 15px;
    padding-top: 80px;
  }  
}

/* ------------------------------------------------------------SIZE < 600px */

@media screen and (max-width: 600px) {
  .tell-us {
    font-size: 18px;
  }

  .offering-details-page {
    display: flex;
    justify-content: center;
    margin: 15px;
  
   }

   .offering-card{
    max-width: 85%;
  }

}

/* ___________________________________________________________________GLOBAL */

label {
  font-family: "Urbanist", sans-serif;
  color: black !important;
}

.maras-button {
  border: 1px solid black;
  background-color: white;
  font-family: "Urbanist", sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
}

.maras-button:hover {
  background-color: lightgreen;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
}

.submit {
  border: 1px solid black;
  font-family: "Urbanist", sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
  background-color: lightgreen !important;
  font-size: 20px; 
  width: 100%; 
  height: 30px; 
}

/* change the name of this one  */
.forgot-password {
  padding-top: 15px;
  text-decoration: none !important;
  color: black;
}

.forgot-password:hover {
  color: lightgreen;
  cursor: pointer;
}

.radio {
  border-radius: 3% !important;
  border: solid 1px lightgray;
}

.radio-label {
  color: gray
}